<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/static/css/index.css" rel="stylesheet">
    <title>Travel Rest</title>
</head>
<body class="bg-dark text-white">
<main class="container">
    <div class="row">
        <div class="col m-5">
            <h1>궁금해... &nbsp; 너의 Response 값 </h1>
        </div>
    </div>
    <div class="row text-left">
        <div class="col">REQUEST</div>
        <div class="col">RESPONSE</div>

    </div>
    <div class="row">
        <div class="col m-2 bg-secondary rounded">
            <div id="jsonContainer" style="display: none;">
            </div>
            <div id="keyValueContainer">
                <div id="paramRowBox" class="mb-3">
                    <div class="row p-3 mr-4">
                        <div class="input-group-prepend bg-light rounded mr-1">
                            <button id="getBtn" class="btn btn-outline-dark active" type="button">GET</button>
                        </div>

                        <div class="input-group-prepend bg-light rounded">
                            <button id="postBtn" class="btn btn-outline-dark" type="button">POST</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 mt-2 p-2">URL</div>
                        <div class="col p-2">
                            <input id="urlText" type="text" class="form-control border border-dark" placeholder="궁금해... 너의 URL 값"/>
                        </div>
                    </div>
                    <!--                <div class="row">-->
                    <!--                    <div class="col-2 p-1">-->
                    <!--                        <button id="rmParamBtn" class="btn btn-dark">-</button>-->
                    <!--                    </div>-->
                    <!--                    <div class="col p-1">-->
                    <!--                        <input type="text" class="form-control border border-dark" placeholder="KEY"/>-->
                    <!--                    </div>-->
                    <!--                    <div class="col p-1">-->
                    <!--                        <input type="text" class="form-control border border-dark" placeholder="VALUE"/>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <div class="row">
                        <div class="col-2 p-1">
                            <button id="addParamBtn" class="btn btn-dark">+</button>
                        </div>
                        <div class="col p-1">
                            <input type="text" id="paramKey" class="form-control border border-dark" placeholder="KEY"/>
                        </div>
                        <div class="col p-1">
                            <input type="text" id="paramValue" class="form-control border border-dark" placeholder="VALUE"/>
                        </div>
                    </div>
                </div>
                <div id="submitRow" class="row">
                    <div class="col p-2 text-right">
                        <button id="submitBtn" class="btn btn-dark">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m-2 bg-secondary rounded">
            <div class="py-3">
                <textarea id="responseArea" class="form-control" placeholder="불러봐... 너의 RESPONSE값" rows="8" readonly></textarea>
            </div>
            <div class="mb-3">
<!--                <button class="btn btn-dark">COPY</button>-->
            </div>
        </div>
    </div>
</main>

<!-- JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<!-- Project JS -->
<script type="text/javascript" src="/static/js/textKey.js?{% now 'U' %}"></script>
<script type="text/javascript" src="/static/js/global.js?{% now 'U' %}"></script>
<script type="text/javascript" src="/static/js/module.js?{% now 'U' %}"></script>
<script type="text/javascript" src="/static/js/index.js?{% now 'U' %}"></script>

</body>
</html>